* {
    font-family: "Montserrat", sans-serif;
}

/* Admin Page ~~~ Admin Page */
/* Databooking start */
button.active.status {
    /* border: 2px solid blueviolet; */
}
.status.red {
    background-color: unset !important;
    /* border-radius: 100%; */
    /* padding: 10px; */
    border: unset;
    color: gray;
}

.status.green {
    background-color: unset !important;
    /* background-color: green; */
    /* border-radius: 100%; */
    /* padding: 10px; */
    border: unset;
    color: green;
}
/* Databooking end */
