* {
    font-family: "Montserrat", sans-serif;
}

body {
    overflow-x: hidden;
    position: relative;
}

/* Loader */
/* #loader-wrapper {
    display: flex;
    width: 100%;
    background-color: white;
    z-index: 9999;
    height: 100vh;
    position: fixed;
    top: 0;
    overflow: hidden;
}
#loader-wrapper .loader {
    border: 2px solid #f3f3f3;
    border-top: 3px solid #3498db;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    animation: loader 2s linear infinite;
    margin: auto;
}

@keyframes loader {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

#load {
    display: none;
}

.load-complete {
    display: block;
} */

/* border: 2px solid #f3f3f3;
border-top: 3px solid #3498db;
border-radius: 50%;
width: 24px;
height: 24px;
animation: spin 1s linear infinite;
margin: auto;
}
@keyframes spin {
0% {
    transform: rotate(0deg);
}
100% {
    transform: rotate(360deg);
}
} */

/* Login start */
.container.login {
    /* padding: 30vh; */
    height: 100vh;
}

.login .card {
    width: 25%;
    padding: 60px 20px;
    border: unset;
}

.login .card h3 {
    text-align: center;
    margin-bottom: 60px;
    font-weight: bold;
}

.login .card .form-control {
    border: 1px solid !important;
    border-radius: 5px !important;
    border-color: #164c98 !important;
}

.login .btn-primary {
    background-color: #164c98;
    width: 100%;
}

/* Login page end */

/* New */
.navbar>.container,
.navbar>.container-fluid,
.navbar>.container-lg,
.navbar>.container-md,
.navbar>.container-sm,
.navbar>.container-xl,
.navbar>.container-xxl {
    flex-wrap: unset !important;
}

.nav-container.bottom {
    display: none;
}

.navbar {
    width: 100%;
    /* background-color: #caefff; */
    transition: background-color 0.4s;
    top: 0;
}

.navbar.scroll {
    background-color: #164c98;
    transition: 0.4s;
}

.navbar ul {
    margin-top: 10px;
    display: flex;
    margin: auto !important;
    justify-content: space-between;
    align-items: center;
}

/* .navbar ul .left,
.navbar ul .right {
    display: flex;
} */

.navbar .container .right,
.left {
    display: flex;
}

.navbar .navbar-logo {
    max-width: 6%;
}

.navbar .navbar-logo img {
    width: 100%;
}

.navbar ul li {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 10px;
    margin-right: 30px;
    position: relative;
}

.navbar.scroll ul li a {
    color: white;
}

.navbar ul li a {
    /* color: black; */
    color: white;
    text-decoration: none;
}

nav .active a,
nav .active .nav-name {
    color: #f5ab35 !important;
}

.navbar .navbar-list .bi.bi-question-lg {
    margin-left: 5px;
    font-size: 20px;
}

.navbar .navbar-list::before {
    position: absolute;
    content: "";
    left: 50%;
    height: 3px;
    background-color: #f5ab35;
    transition: width 0.2s ease 0s, left 0.2s ease 0s;
    width: 0;
}

.navbar .right .navbar-list::before {
    top: 45px;
}

.navbar .left .navbar-list::before {
    top: 55px;
}

.navbar .navbar-list:hover::before {
    width: 100%;
    left: 0;
}

/* JUMBOTRON */

/* .jumbotron {
    background-color: #caefff;
    align-items: center;
    height: 85vh;
    display: flex;
    justify-content: center;
    width: 100%;
} */

.jumbotron::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #004296;
    opacity: .8;
}
.jumbotron::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('https://e-library.stevanandreas.com/imgassets/bgheader.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: .7;
}
.jumbotron {
    height: 85vh;
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;
}

.jumbotron > * {
    z-index: 1;
}

.jumbotron .row {
    height: inherit;
}

.jumbotron .text-intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.jumbotron .text-intro h1 {
    font-weight: 700;
    font-size: 50px;
}

.jumbotron .search-book {
    border: 1px solid #164c98;
    border-radius: 5px;
}

.jumbotron select {
    border: unset;
    border-radius: 0;
    font-weight: bold;
}

/* .form-control,
.form-select {
    border: unset !important;
    border-radius: unset !important;
}

.form-control:focus,
.form-select:focus {
    outline: 0;
    border-color: none !important;
    box-shadow: none !important;
} */

.form-check-input:checked {
    border-color: none !important;
    outline: 0;
    box-shadow: none !important;
}

.jumbotron .icon-search {
    align-items: center;
    background-color: white;
    border-radius: 5px 0 0 5px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    border-right: 0.5px solid rgb(190, 190, 190);
}

.jumbotron form input {
    background-position: 10px;
    border: unset;
    border-color: #164c98;
    border-radius: 0 0 0 0;
}

.jumbotron .search-book .btn {
    border-radius: 0 5px 5px 0 !important;
}

.jumbotron img {
    width: 35rem;
}

/* Count */
.count-wrapper {
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 80px;
}

.count-view {
    border: 3px solid #f5ab35;
    border-radius: 25px;
    color: white;
    background-color: #0f4ea3;
    padding: 35px;
    width: 50%;
    height: 10rem;
}

.count-view .count-read,
.count-book,
.count-visit {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.count-view .count-read,
.count-view .count-book,
.count-view .count-visit {
    size: 40;
}

/* Book Grid */

section {
    margin-bottom: 5%;
}

.container .katalog-link {
    font-size: 1.5rem;
    line-height: 1.2;
    font-weight: 500;
}

.owl-carousel .item {
    margin-left: 10px;
    margin-right: 10px;
}

.owl-carousel .item img {
    margin-left: auto;
    margin-right: auto;
}

.book .card {
    padding: 6px;
}

.book .card  {
    max-height: 30rem;
    max-width: 25rem;
}

.book .card .description {
    overflow: hidden;
}
.book .card .description .judul {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.book .card .description .penerbit {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.book .card p {
    margin: 0;
}

.owl-carousel .book .card img {
    max-width: 100%;
    border-radius: 5px;
}

.owl-nav {
    display: block !important;
}

.owl-theme .owl-nav [class*="owl-"]:hover {
    background-color: #164c98 !important;
}

.owl-carousel .owl-nav button.owl-next,
.owl-carousel .owl-nav button.owl-prev,
.owl-carousel button.owl-dot {
    width: 40px !important;
}

.owl-carousel .owl-nav button.owl-next span,
.owl-carousel .owl-nav button.owl-prev span {
    font-size: 40px !important;
}

.book .card .cover {
    margin-bottom: 5px;
}


.book a,
.book a:hover {
    text-decoration: none;
    color: black;
}

.book .jenis-buku {
    color: white;
    font-size: 8pt;
    background-color: #164c98;
    border-radius: 3px;
    padding: 3px;
    width: fit-content;
}

.book .description {
    font-size: 14px;
}

#daftar-login span {
    font-size: 21pt;
    color: #f5ab35;
    font-weight: 600;
}

#daftar-login::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #004296;
    opacity: .9;
}
#daftar-login::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('https://e-library.stevanandreas.com/imgassets/foto1.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: .7;
}
#daftar-login {
    text-align: center;
    padding: 50px;
    display: flex;
    color: white;
    position: relative;
}

#daftar-login > * {
    z-index: 1;
}

#daftar-login .btn {
    border: 2px solid #f5ab35 !important;
}

#daftar-login hr {
    width: 20%;
    opacity: 100%;
    height: 3px;
    margin-left: auto;
    margin-right: auto;
}

#kurikulum::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #004296;
    opacity: .9;
}
#kurikulum::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('https://e-library.stevanandreas.com/imgassets/foto1.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: .7;
}
#kurikulum {
    /* text-align: center; */
    padding: 50px;
    display: flex;
    color: white;
    position: relative;
}

#kurikulum > * {
    z-index: 1;
}

#kurikulum hr {
    width: 20%;
    opacity: 100%;
    height: 3px;
}



#kurikulum .card img {
    max-width: 15%;
    padding: 10px;
}

#kurikulum .container a, #kurikulum .container p {
    text-decoration: none;
    margin-bottom: unset;
    color: black;
    font-weight: 700;
}

#kurikulum .container p:nth-child(1) {
    color: blue;
}

#kurikulum .card {
    display: flex;
    flex-direction: row;
} 
#kurikulum .card:after {
    content: '\F280';
    font-family:'Bootstrap-icons';
    position: absolute;
    font-size: 21pt;
    left: 90%;
    right: 0;
    transition:  1s all;
}


#kurikulum h4 {
    color: white;
}


/* Detail */

.container.detail {
    margin-top: 8rem;
}

.detail .navigation {
    margin-bottom: 10px;
}

.detail .col-sm {
    max-width: 30% !important;
}

.detail .detail-book img {
    width: 100%;
}

.detail .book-description h3 {
    font-weight: bold;
}

.detail .book-description a {
    text-decoration: none;
}

/* Detail - PDF */

.container.detail {
    margin-top: 10rem;
}

.detail .col-sm h3 {
    font-weight: bold;
}

.detail-wrapper {
    height: 55vh;
    background-color: #caefff;
    background-image: url("https://e-library.stevanandreas.com/imgassets/contoh wave.png");
    border-radius: 5px;
}

.detail .detail-card {
    border-radius: 5px;
    display: flex;
    align-items: center;
}

.detail .detail-card .detail-img {
    padding: 20px 30px;
    width: 15rem;
}

.detail .detail-img img {
    max-width: 100%;
    border-radius: 5px;
}

.detail .detail-card .detail-wrapper {
    margin-left: 10px;
    padding: 10px;
}

.detail .detail-card .detail-header button {
    margin-top: 10px;
}

.detail .detail-card .pdf-statistic {
    display: flex;
    flex-direction: row;
}

.detail .detail-card .detail-info hr {
    width: 40rem;
}

.detail .detail-card .pdf-statistic p:nth-child(odd) {
    font-weight: 700;
    margin-bottom: 0;
}

.detail .detail-card .detail-info .col-6 span {
    font-weight: 700;
}

.detail .detail-card .detail-header .title {
    color: #f5ab35;
    font-weight: bold;
}

.detail .detail-card .detail-header p {
    margin: 0;
}

/* PDF Viewer */
.pdfjs-viewer {
    border: 1px solid #aaa;
    background: #ccc;
    width: 100%;
    height: 120vh;
    display: none;
}

.viewer {
    overflow-y: scroll;
    max-height: 100%;
}

.pdfjs-viewer.horizontal-scroll {
    display: flex;
}

.pdfjs-viewer.horizontal-scroll .pdfpage {
    margin-left: 1em;
    margin-top: 0.25em !important;
    margin-bottom: 0.25em !important;
    display: block;
}

.pdfpage {
    position: relative;
    margin-bottom: 1em;
    margin-top: 1em;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.09);
    display: flex;
}

.pdfpage canvas {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
}

.pdfpage.placeholder {
    display: flex;
    margin-bottom: 0em !important;
    margin-top: 0em !important;
    height: 100%;
    width: 100%;
}

.pdfpage .content-wrapper {
    margin: 0 !important;
    padding: 0 !important;
    display: flex !important;
}

/* All Book */
.all-book-header {  
    text-align: center;
    /* padding: 50px; */
    display: flex;
    align-items: center;
    color: white;
    position: relative;
}

.all-book-header::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #004296;
    opacity: .8;
}
.all-book-header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('https://e-library.stevanandreas.com/imgassets//allbookbg.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: .7;
}

.all-book-header > * {
    z-index: 1;
}

.all-book-header a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    transition: 0.2s all;
}

.all-book-header a:hover {
    color: #f5ab35;
}

.all-book-header .card {
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: row;
}

.all-book-header img {
    width: 6%;
    margin-right: 10px;
}

.all-book-header .card.active {
    border: 2px solid #f5ab35;
    color: #004296;
}

.all-book-header p {
    margin: 0;
}

/* .container.all-book {
     margin-top: 5rem; 
}*/

.container.all-book .grid-container img {
    max-width: 14rem;
}

.all-book-header {
    background-color: #caefff;
    padding: 3rem;
    margin-top: 5rem;
}

.all-book-header a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    transition: 0.2s all;
}

.all-book-header a:hover {
    color: #f5ab35;
}

.all-book-header .card {
    border-radius: 10px;
    padding: 20px;
    display: flex;
}

.all-book-header .block {
    padding: 20px;
    background-color: #004296;
    border-radius: 5px;
    width: 20px;
}

.all-book-header .card.active {
    border: 2px solid #f5ab35;
    color: #004296;
}

.all-book-header p {
    margin: 0;
}

.all-book {
    padding: 2rem;
}

.all-book .col-lg {
    margin-left: 5rem;
}

.all-book .grid-item {
    max-width: 15rem;
}

.all-book .grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    max-width: 10rem;
    gap: 1rem;
}

.all-book .form-control {
    border: 1px solid #164c98 !important;
    border-radius: 5px 0 0 5px !important;
}

.all-book .book-filter {
    position: sticky;
    top: 100px;
    width: 100%;
}

.all-book .book-filter .card {
    border: unset;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color: white;
}

.all-book .book-filter .card-header {
    background-color: unset;
    border: none;
}

.all-book .book-filter .card-header h6 {
    margin: 0;
    font-weight: bold;
}

/* All Book Accordion */
.accordion.shadow {
    box-shadow: 0 0.1rem 0.3rem rgba(0, 0, 0, 0.15) !important;
}

.accordion-item {
    border-radius: 10px !important;
    border: unset !important;
    font-size: small;
}

h2.accordion-header button {
    font-weight: bold !important;
}

.accordion-header button,
.accordion-body {
    padding: 10px !important;
}

.accordion-button:not(.collapsed) {
    color: unset !important;
    background-color: unset !important;
    box-shadow: unset !important;
}

.accordion-button:focus {
    border-color: unset !important;
    box-shadow: none !important;
}

/* All Book End */

/* History */
.history-section {
    margin-top: 10%;
}

.history-section h3 {
    font-weight: bold;
}

.history-section .booking-info {
    padding: 10px;
}

.history-section .help-bar {
    margin-bottom: 10px;
    display: flex;
    gap: 1rem;
}

.history-section .help-bar .input-group  {
    width: 30%;
}

.history-section .help-bar .form-control:focus, 
.history-section .help-bar .form-select:focus {
    outline: 0;
    border-color: none !important;
    box-shadow: none !important;
}

.history-section .booking-info .status{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
}

.history-section .booking-info .status p {
    font-weight: bold;
    margin-top: 8px;
    margin-bottom: 8px;
}


.history-section .booking-info .status ul,
.history-section .booking-info .status ul li a {
    list-style: none;
    text-decoration: none;
    color: black;
    font-weight: bold;
    margin-bottom: 0px;
}

.history-section .booking-info .status ul li {
    display: inline-block;
    border-radius: 15px;
    padding: 0 10px;
    margin-right: 0.5rem;
    border: 1px solid #ccc;
}

.history-section .booking-info .list-book {
    box-shadow: 0 0 0.2rem rgba(0, 0, 0, 0.15) !important;
    padding: 10px;
    border-radius: 5px;
}

.history-section .booking-info .list-book span {
    display: flex;
    gap: 1rem;
}

.history-section .booking-info .form-select  {
    border: 1px solid #ccc;
    width: 30%;
    border-radius: 3px;
}

.history-section .booking-info .dropdown 
.book-type {
    list-style: none;
}

.history-section .booking-info
.list-book span p:nth-child(1) {
    font-weight: bold;
}

.history-section .booking-info .list-book a {
    text-decoration: none;
}

.history-section .booking-info .list-book 
.lending-detail {
    gap: 1rem;
    display: flex;
    flex-direction: row-reverse;
}

.history-section .list-book .lending-detail a p{
    font-weight: bold;
    white-space: pre-line;
    margin-top: 8px;
    margin-bottom: 0px;
}

.history-section .booking-info .info-book {
    display: flex;
    flex-direction: row;
}

.history-section .booking-info .info-book .cover{
    width: 10%;
    padding-right: 10px;
}
.history-section .booking-info .cover img {
    max-width: 100%;
}

.history-section .booking-info
.description {
    width: 50%;
}

.history-section .booking-info 
.description .jenis-buku {
    color: white;
    font-size: 8pt;
    background-color: #164c98;
    border-radius: 3px;
    padding: 3px;
    width: fit-content;
}

/* End History */


/* Footer  */
footer {
    background-color: #004296;
    color: white;
    margin-top: 15rem;
    padding: 5% 10%;
}

footer .row,
.footer-link,
.footer-logo {
    padding-left: 0;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
}

footer .footer-grid {
    display: grid !important;
    grid-template-columns: auto auto auto auto;
}

footer h5 {
    font-size: 14px;
    font-weight: 400;

}

footer .footer-logo img {
    width: 80%;
}

.footer-link ul li {
    list-style-type: none;
    margin-bottom: 20px;
}

.footer-link li a,
.footer-link ul {
    color: white;
    text-decoration: none;
    font-weight: 300;
    font-size: 14px;
}

.footer-link a {
    color: white;
    transition: 0.5s all;
}

.copyright {
    padding: 1%;
    background-color: #0f4ea3;
    text-align: center;
}

.copyright p {
    font-weight: 300;
    font-size: 12px;
    color: white;
    margin: 0;
}

.copyright a {
    font-weight: bolder;
    color: white;
    text-decoration: none;
}

.copyright a:hover {
    color: unset;
}

@media (max-width: 991.98px) {
    .login .card {
        width: 50%;
    }

    .navbar {
        display: none !important;
    }

    .nav-container.bottom {
        display: block;
        position: fixed;
        width: 100%;
        height: 7rem;
        background-color: white;
        z-index: 10;
        bottom: 0rem;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
    }


    .nav-container.bottom {
        height: 5rem;
    }

    .nav-menu .nav-list {
        padding: unset;
        display: flex;
        margin-top: 10px;
        flex-direction: row;
        justify-content: center;
        gap: 3rem;
    }

    .nav-menu .nav-item {
        list-style: none;
    }

    .nav-menu .nav-item .nav-link {
        width: unset;
        border-radius: 5px;
        font-size: medium;
        font-weight: bold;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .nav-menu .nav-item,
    .nav-link,
    .nav-name {
        text-decoration: none;
        font-weight: 700;
        color: black;
    }

    .jumbotron {
        height: 60rem;
    }

    /* .jumbotron h1 {
        text-align: center;
        font-size: 40pt;
    } */

    /* .jumbotron h5 {
        text-align: center;
    } */

    .jumbotron form {
        display: flex;
        justify-content: center;
    }

    .jumbotron .search-book {
        border: 1px solid #164c98;
        border-radius: 5px;
        width: 90%;
    }

    .jumbotron form select {
        display: none;
    }

    .jumbotron img {
        width: 100%;
    }

    .count-wrapper {
        margin-bottom: 4rem;
    }

    .count-view {
        width: 40rem;
    }

    .book .card .cover {
        max-width: 20rem;
    }

    .grid-item {
        max-width: 100%;
    }


    #daftar-login hr {
        width: 50%;
    }

    #kurikulum hr {
        width: 50%;
        opacity: 100%;
        height: 3px;
        
    }

    .container .book-option {
        font-size: 1.5rem;
    }

    .container .katalog-link{
        font-size: 1.2rem;
        padding-top: 5px;
        /* line-height: ; */
        font-weight: 700;
    }


    /* Detail Page */

    .container.detail,
    .container.detail {
        margin-top: 5rem;
    }

    .detail .col-sm {
        max-width: 50% !important;
    }

    object {
        display: none;
    }

    .pdfjs-viewer {
        display: block;
    }

    /* Detail Page End */

    .detail .detail-card {
        border-radius: 5px;
        display: flex;
        align-items: center;
    }

    .detail-wrapper {
        height: 100%;
        background-color: #caefff;
        border-radius: 5px;
    }

    .detail .detail-wrapper .detail-img {
        width: 20rem;
    }

    .detail .detail-wrapper .detail-img img {
        max-width: 100%;
    }

    .detail .detail-card .detail-info {
        padding-left: 20px;
        padding-right: 20px;
    }

    .detail .detail-card .pdf-statistic>* {
        width: unset;
    }

    .detail .detail-card .detail-info hr {
        width: 10rem;
    }

    .detail .detail-card .detail-info .col-6.col-lg-2 {
        width: 10rem;
    }

    /* Allbook Page Start */
    .all-book-header {
        margin-top: unset;
    }

    .all-book {
        margin-top: 80px;
    }

    .all-book .d-flex {
        flex-direction: column;
    }

    .all-book .col-lg {
        margin-left: unset;
    }

    .all-book .grid-container {
        display: grid;
        grid-template-columns: auto auto auto;
        max-width: 100%;
        gap: 1rem;
    }

    .all-book .book .card .cover img {
        max-width: 100%;
    }

    .all-book .col-3 {
        width: 100% !important;
        margin-bottom: 10px;
    }

    .all-book .book-filter {
        position: static;
        width: 100%;
    }

    /* Allbook Page End */

    /* Footer  */
    footer {
        margin-top: 10px;
        padding: 5%;
    }

    footer .footer-grid {
        display: grid !important;
        grid-template-columns: auto auto auto;
    }

    .footer-grid .footer-grid-item:nth-child(1) {
        grid-column: 1/4;
    }

    footer .footer-link,
    footer .footer-logo {
        margin-top: 10px;
        text-align: left;
    }

    footer .footer-link ul li {
        margin-bottom: 5px;
    }

    footer .footer-logo {
        /* width: 60%; */
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 15px;
    }

    .copyright {
        padding: 3%;
        margin-bottom: 5rem;
    }
}

@media only screen and (max-width: 767.98px) {

    .nav-menu .nav-list {
        gap: unset;
    }

    .container .book-option {
        font-size: 1.5rem;
    }

    .container .katalog-link{
        font-size: 1.2rem;
        padding-top: 5px;
        font-weight: 700;
    }

    .jumbotron {
        height: 34rem;
    }

    .count-view {
        position: relative;
        bottom: 30px;
    }

    .login .card {
        width: 90%;
    }

    .count-wrapper {
        position: unset;
        bottom: unset;
        margin-bottom: 20px;
    }

    .count-view {
        border-radius: unset;
        width: 100%;
        height: unset;
    }

    .count-view .row {
        display: flex;
        flex-direction: column;
    }

    .count-view {
        padding-bottom: 20px;
    }

    .count-view .count-read {
        margin-top: unset;
    }

    .count-view .count-book {
        margin-top: unset;
    }

    .count-view .count-visit {
        margin-top: unset;
    }

    .all-book .grid-container {
        display: grid;
        grid-template-columns: auto auto;
        max-width: 100%;
        gap: 1rem;
    }

    .owl-carousel button.owl-dot {
        width: unset !important;
    }

    #daftar-login {
        padding: 5%;
    }

    
    #kurikulum {
        background-color: #004296;
        padding: 20px;
    }
    
    #kurikulum .card img {
        max-width: 25%;
        padding: 15px;
    }
    
    #kurikulum .container a, 
    #kurikulum .container p {
        text-decoration: none;
        margin-bottom: unset;
        font-size: small;
        color: black;
        font-weight: 700;
    }
    
    #kurikulum .container p:nth-child(1) {
        color: blue;
    }
    
    #kurikulum .card {
        display: flex;
        flex-direction: row;
    } 
    #kurikulum .card:after {
        content: '\F280';
        font-family:'Bootstrap-icons';
        position: absolute;
        font-size: 15pt;
        left: 85%;
        right: 0;
    }
    
    
    #kurikulum h4 {
        color: white;
        white-space: nowrap;
    }

    section {
        margin-top: 5%;
    }

    .container.detail,
    .container.detail {
        margin-top: unset;
    }

    .pdfpage canvas {
        max-width: 100%;
    }

    .detail .detail-card {
        border-radius: 5px;
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .detail-wrapper {
        height: 100%;
        background-color: #caefff;
        background-image: none;
        background-position: bottom;
        background-size: cover;
        /* background-image: url('./assets/contoh wave.png'); */
        border-radius: 5px;
    }

    .detail .detail-wrapper .detail-img {
        width: 20rem;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .detail .detail-wrapper .detail-img img {
        max-width: 100%;
    }

    .detail .detail-card .detail-info {
        padding-left: 20px !important;
    }

    .sidebar-burger img {
        max-width: 15%;
    }

    .detail .detail-card .detail-info hr {
        width: 10rem;
    }

    .detail .detail-card .detail-info .col-6.col-lg-2 {
        width: 10rem;
    }

    footer {
        padding: unset;
    }


    footer .footer-grid {
        display: flex!important;
        flex-direction: column;
    }

}